USE [master]
GO
/****** Object:  Database [BazaDanych]    Script Date: 23.07.2023 11:48:13 ******/
CREATE DATABASE [BazaDanych]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BazaDanych', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BazaDanych.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BazaDanych_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BazaDanych_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BazaDanych].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BazaDanych]
GO
/****** Object:  Table [dbo].[Klienci]    Script Date: 23.07.2023 11:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienci](
	[ID_Klienta] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa_Firmy] [nvarchar](30) NOT NULL,
	[Nazwisko_Klienta] [nvarchar](20) NULL,
	[Kontakt] [nvarchar](10) NOT NULL,
	[Adres] [nvarchar](20) NULL,
	[Miasto] [nvarchar](20) NULL,
	[Kraj] [nvarchar](20) NULL,
 CONSTRAINT [PK_Klienta] PRIMARY KEY CLUSTERED 
(
	[ID_Klienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.07.2023 11:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[KlientID] [int] NOT NULL,
	[Pracownik_ID] [int] NOT NULL,
	[Data_order] [date] NOT NULL,
	[Producet] [nvarchar](20) NULL,
	[Adres_Miasto] [nvarchar](20) NOT NULL,
	[Adres_Kraj] [nvarchar](20) NOT NULL,
	[ID_ship] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownicy]    Script Date: 23.07.2023 11:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownicy](
	[ID_Pracownika] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](20) NOT NULL,
	[Nazwisko] [nvarchar](20) NOT NULL,
	[Miasto] [nvarchar](20) NULL,
	[Kraj] [nvarchar](20) NULL,
	[Data_Urodzenia] [date] NOT NULL,
	[Data_Zatrudnienia] [date] NOT NULL,
	[Zarobki] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Pracownicy] PRIMARY KEY CLUSTERED 
(
	[ID_Pracownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statki]    Script Date: 23.07.2023 11:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statki](
	[ID_Statku] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa_Firmy] [nvarchar](30) NOT NULL,
	[Kontakt] [nvarchar](10) NULL,
	[Waga] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Statku] PRIMARY KEY CLUSTERED 
(
	[ID_Statku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pracownicy] ON 

INSERT [dbo].[Pracownicy] ([ID_Pracownika], [Imie], [Nazwisko], [Miasto], [Kraj], [Data_Urodzenia], [Data_Zatrudnienia], [Zarobki]) VALUES (1, N'Zygmunt', N'Czechura', N'Wadowice', N'Polska', CAST(N'2002-09-22' AS Date), CAST(N'2022-09-10' AS Date), CAST(3500.55 AS Decimal(10, 2)))
INSERT [dbo].[Pracownicy] ([ID_Pracownika], [Imie], [Nazwisko], [Miasto], [Kraj], [Data_Urodzenia], [Data_Zatrudnienia], [Zarobki]) VALUES (2, N'Michał', N'Czechura', N'Wadowice', N'Polska', CAST(N'2003-09-30' AS Date), CAST(N'2022-09-20' AS Date), CAST(3500.55 AS Decimal(10, 2)))
INSERT [dbo].[Pracownicy] ([ID_Pracownika], [Imie], [Nazwisko], [Miasto], [Kraj], [Data_Urodzenia], [Data_Zatrudnienia], [Zarobki]) VALUES (3, N'Szymon', N'Czechura', N'Wadowice', N'Polska', CAST(N'2006-02-05' AS Date), CAST(N'2022-09-21' AS Date), CAST(2500.55 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pracownicy] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [City]    Script Date: 23.07.2023 11:48:13 ******/
CREATE NONCLUSTERED INDEX [City] ON [dbo].[Klienci]
(
	[Miasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Nazwa_Firmy]    Script Date: 23.07.2023 11:48:13 ******/
CREATE NONCLUSTERED INDEX [Nazwa_Firmy] ON [dbo].[Klienci]
(
	[Nazwa_Firmy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Nazwisko]    Script Date: 23.07.2023 11:48:13 ******/
CREATE NONCLUSTERED INDEX [Nazwisko] ON [dbo].[Pracownicy]
(
	[Nazwisko] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Klienci] FOREIGN KEY([KlientID])
REFERENCES [dbo].[Klienci] ([ID_Klienta])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Klienci]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Pracownicy] FOREIGN KEY([Pracownik_ID])
REFERENCES [dbo].[Pracownicy] ([ID_Pracownika])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Pracownicy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statki] FOREIGN KEY([ID_ship])
REFERENCES [dbo].[Statki] ([ID_Statku])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statki]
GO
ALTER TABLE [dbo].[Pracownicy]  WITH CHECK ADD  CONSTRAINT [CK_Data_Zatrudnienia] CHECK  (([Data_Urodzenia]<getdate()))
GO
ALTER TABLE [dbo].[Pracownicy] CHECK CONSTRAINT [CK_Data_Zatrudnienia]
GO
USE [master]
GO
